/* GENERALES */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4fb;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
}

a {
  text-decoration: none;
}

/*FAQS*/
.preguntas {
  text-decoration: none;
  color: #1a4660;
}

.respuestas {
  text-decoration: none;
  color:#1a4660;
  border-radius: 1rem 0rem 0rem 1rem;
}

.fondo {
  background-color: #f6f7fb;
  padding: 0.6rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* CARDS */
.Card_principal {
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 2rem;
    color: #1a4660;
}

.Card_principal1 {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    color: #1a4660;
}

/* MAIN */
.principal {
    display: flex;
    max-width: 500px;
    min-height: 200px;
}

/* Columnas */
.columna {
    padding: 2rem;
    color: white;
}

.columna_principal {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    color: white;
}

.columna_faqs {
    border-radius: 1rem 0 0 1rem;
    padding: 2rem;
    color: #1a4660;
}

.columna_indice {
    color: #1a4660;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
}

.columna_tema {
    color: #ffffff;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
}

.columna:first-of-type {
    border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type {
    border-radius: 0 1rem 1rem 0;
}

/*SEPARADOR DE HOJAS*/
.separador {
    padding: 0.7px;
    color: white;
}

.uno {
    background-color: #d2d4d0;
    ;
}

.dos {
    background-color:#1a4660;
    ;
}

.faqs {
    background-color: ffffff;
    ;
}

.indice {
    background-color: #ffffff;
}

.tema {
    background-color: #1a4660;
    color: #ffffff;
}

/* Boton */
.enlace {
    text-decoration: none;
    background-color: #1a4660;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100px;
    
}

.enlace_proceso {
    text-decoration: none;
    background-color: #1a4660;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 140px;
}

.paginacion {
        color: #1a4660;
        text-decoration: none;
        justify-content: center;
        margin-top: 5px;
}

.enlace_contraste {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100px;
}

.indice {
    color: #ffffff;
}

.indice_texto {
    color: #1a4660;
}

.enlace_volver {
    text-decoration: none;
}

.uno .enlace {
    color: #1a4660;
}

.dos .enlace {
    color: #1a4660;
}

/* PARRAFO */
p {
    text-align:justify;
}

/* Títulos */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.center_intems {
display: flex;
}

.enlace_leer {
    text-decoration: none;
    color: #1a4660;
}

.enlace_ver {
    text-decoration: none;
    color: #ffffff;
}

.en_texto {text-decoration: none;
    color: #16a8b4;
}

.usuario {
    color: #4466f2;
}

.titulo_tema {
    color: #f3cba3;
}

.placeholder:hover {
    color: #f3cba3;
}

.boxshadow {
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.0),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(26,70,96,0.1);
  }

  /*ASISTENTE*/
  .chat {
    height: calc(10% - 69px);
  }
  
  .chat-container {
    height: 20%;
  }
  
  .user-bar {
    height: 43px;
    background: #1a4660;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    position: relative;
    z-index: 1;
  }
  
  .user-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }

  .user-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
  }
  
  .user-bar .avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(155, 155, 155, 0.1);
    display: block;width: 100%;
  }
  
  .user-bar .name {
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
  }
  
  .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    width:auto;
  }
  
  .conversation {
    height: 100%;
    position: relative;
    background: #efe7dd url("#") repeat; /*Agregar fondo al chat*/
    z-index: 0;
  }
  
  .conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  
  .conversation ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .conversation ::-webkit-scrollbar-thumb {
    background: #efe7dd;
  }
  
  .conversation .conversation-container {
    height: 400px;
    box-shadow: inset 0 10px 10px -10px #ffffff;
    overflow-x: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
  }
  
  .conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .message {
    color: #393939;
  clear: both;
    line-height: 18px;
    font-size: 12px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 80%;
    word-wrap: break-word;
  
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .metadata {
    display: inline-block;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  .metadata .time {
    color: #f3cba3;
    font-size: 11px;
    display: inline-block;
  }
  
  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
  .metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
  }
  
  .metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
  }
  
  .metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
            transform: perspective(800px) rotateY(0deg);
  }
  
  .metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  
  .metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
  }
  
  .message:first-child {
    margin: 16px 0 8px;
  }
  
  .message.received {
    background: #ffffff;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;left: -10px;
  }
  
  .message.sent {
    background: #4c5f8e;
    color: #f4f4fb;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #4c5f8e;
    top: 0;
    right: -10px;
  }
  
  
  .conversation-compose {
    display: flex;
    flex-direction: row;
  align-items: flex-end;
    overflow: hidden;
    height: 50px;
    width: 100%;
    z-index: 2;
  }
  
  .conversation-compose div,
  .conversation-compose input {
    background: #fff;
    height: 70%;
  }
  
  .conversation-compose .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px 0 0 5px;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 10px; 
  }
  
  .conversation-compose .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 12px;
    margin: 0;
    outline: none;
    min-width: 50px;
  }
  
  .conversation-compose .photo {
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 0px;
  }
  
  .conversation-compose .photo:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
  border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -10px;
  }
  
  .conversation-compose .photo i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  
  .conversation-compose .send {
    background: transparent;
    border: 0;
  cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
  }
  
  .conversation-compose .send .circle {
    background: #1a4660;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conversation-compose .send .circle i {
    font-size: 14px;
    margin-left: 5px;
  }
  
  
  
    .marvel-device .status-bar {
      display: none;
    }
  
    .screen-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
  
    .conversation {
      height: 470px;
      width: 400px;
    }
    .conversation .conversation-container {
      height: 400px;
    }

  .back{
      font-size:12px;
      float:left;
  }
  .forword{
      font-size:30px;
      float:right;
  }